################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OBD2_APP/FileContentIndex
/.vs/OBD2_APP/v17/.suo
